.courses_wrapper, .my_courses_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("/images/courses-bg.jpg"); */
}

/* .courses-bg-img{
    position: absolute;
    top: 116px;
    left: 0;
    z-index: -2;

    filter: blur(15px);
    -webkit-filter: blur(8px);

    height: 100%;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.courses-bg-img img{
    opacity: 0.7;
} */

.courses_categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin-bottom: 100px;
    overflow: hidden;

}

.courses_container, .my_courses_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    background-color: rgba(230, 230, 230, 0.3);
    padding-bottom: 30px;
    border-radius: 20px;
}

.h2_courses{
    color: var(--black);
}

.course{
    width: fit-content;
    text-align: center;
    margin: 0 10px;
    
}

.course_img{
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    transition: all ease-in-out 300ms;
}

.course_img:hover{
    
    transform: scale(1.1);
    cursor: pointer;
}

.course_title{
    height: 50px;
    width: 22vw;
}

.course img{
    width: 22vw;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}



.category_description{
    width: 22vw;
    text-align: center;
    margin: auto auto;
}
.category_description p {
    margin: 0;
    font-size: 0.8em;
}

.course_description{
    margin-top: 30px;
}

.subscribe_to_course_btn{
    background: linear-gradient(90deg,#ff6d1f 0,#ffca22);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    transition: all ease-in-out 200ms;
}

.subscribe_to_course_btn:hover{
    transform: scale(1.05);
}


@media (max-width:1050px) {
    .course img{
        width: 235px;
    }
}

/* Individual course */

.individual_course_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.individual_course{
    width: 700px;
    text-align: center;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual_course_img img{
    width: 500px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.individual_course_img{
    padding-top: 20px;
}

@media (max-width:700px) {
    .individual_course img{
        width: 235px;
        height: 160px;
    }
}