/* HEADER */
header{
    border-bottom: 1px solid var(--gray);
}

.header_index{
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 180px;
    height: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;
}

.index_header_wrapper h1{
    color: royalblue;
}

a{
    text-decoration: none;
    color: black;
}


li{
    list-style: none;
}

.user_links{
    display: flex;
    justify-content: right;
    margin-right: 40px;
    align-items: center;
}

.user_link{
    margin-left: 30px;
}

#admin_link{
    color: rgb(177, 76, 250);
    cursor: pointer;
}

#admin_link:hover{
    color: rgb(50, 99, 37);
}

.log{
    background: linear-gradient(90deg,#ff6d1f 0,#ffca22);
    padding: 10px 25px;
    border-radius: 50px;
    
}

.user_link a{
    color: var(--black);
}

.log a{
    color: white;
}

.user_link:hover a{
    color: rgb(142, 165, 233);
}

@media (max-width:1018px){
    .user_links{
        width: auto;
        justify-content: left;
    }
    .home_link{
        width: auto;
    }
    .index_header_wrapper{
        justify-content: center;
    }
    /* HAMB menu */
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(0, 0, 0);
        display: block;
        cursor: pointer;
        position: relative;
        top: 0;
    
    }
    #mobile-menu {
        position: absolute;
        top: 38px;
        right: 5%;
        transform: translate(5%, 20%);
      }
      #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
    
      #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      /* Actual links for mobile menu */
      .user_links {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
      }

      .user_links.active {
        position: absolute;
        top: 110px;
        left: 0;
        background: white;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        /* height: 109px; */
        font-size: 1.1rem;
        padding-left: 10px;
        padding-bottom: 30px;
      }

      .user_links.active .user_link{
          margin-top: 20px;
      }
    
}


