<%- include('partials/head')%>

 <!-- Header -->
 <%- include("partials/header") %>
    
    <main>
        <div class="courses_wrapper">
            <div class="course">
                <div class="course_title">
                    <p>Conceptos básicos de finanzas</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>

            <div class="course">
                <div class="course_title">
                    <p>Ahorros</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            <div class="course">
                <div class="course_title">
                    <p>Cómo invertir</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            <div class="course">
                <div class="course_title">
                    <p>Bienes raíces</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            <div class="course">
                <div class="course_title">
                    <p>Conceptos básicos de finanzas</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>

            <div class="course">
                <div class="course_title">
                    <p>Ahorros</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            <div class="course">
                <div class="course_title">
                    <p>Cómo invertir</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            <div class="course">
                <div class="course_title">
                    <p>Bienes raíces</p>
                </div>
                <div class="course_img">
                    <img src="images/default-image.png" alt="">
                </div>
            </div>
            
           
           
        </div>
    </main>

<%- include('partials/footer')%>