	<%- include("partials/head") %>

	<%- include("partials/header") %>
    <div class="dashboard_container">
        <div class="dashboard_wrapper">
            <h2>Dashboard</h2>
            <div class="stats">
                <h3>Total projects:</h3><p>21</p>
            </div>
            <div class="stats">
                <h3>Total billed:</h3><p>AR$ 1.500</p>
            </div>
            <div class="stats">
                <h3>Active agencies:</h3><p>11</p>
            </div>
        </div>
    </div>
        
    </body>


</html>