     <!-- Head -->
    <%- include("partials/head") %>

    <!-- Header -->
    <%- include("partials/header") %>

    <main class="main_i">

        <div class="main_banner_wrapper">

            <div class="background-image">
                <!-- BCK IMAGE -->
            </div>
            <div class="background-texture">
                    <!-- FADE EFFECT -->
            </div>

            <div class="home_main_wrapper">
                <div class="circle">
                    <h2>Crowdium Academy</h2>
                    <h3>Tu mapa hacia la libertad financiera</h3>
                </div>
            
                <!-- <div class="home_links"> -->
                    
                    <div class="home_button_wrapper">
                        <div class="button">
                            <li class="user_link log"> <a href="#">Unite!</a></li>
                        </div>
                    </div>
            
                    <!-- <a class="home_link" href="/create">Comenzar</a>
                    <a class="home_link" href="/gallery">Galería de videos</a>
                    <a class="home_link" href="/dashboard">Dashboard</a>
                    <a class="home_link" href="/projects">Botones feos</a> -->
                <!-- </div> -->
            </div>
        </div>

        <!-- ABOUT -->

        <div class="about_wrapper">
            <div class="about">
                <h3>Micro Cursos</h3>
                <h2>Aprendé todo lo que necesitás <br> saber de finanzas en <u>videos de un minuto</u> </h2>
                <p>Videos de un minuto Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam in natus sequi velit, nemo ipsam at harum inventore quo fugit. Quo commodi cum quas, repellendus cumque eligendi accusantium nisi sunt.
                Quos amet magni ea repellendus est voluptates, soluta modi impedit ipsum? Cum nulla architecto assumenda optio ut fugit voluptatem dolor, inventore sapiente eum doloribus vel omnis possimus error. Reprehenderit, ratione!
                </p>
                <div class="badge_logo"><img src="/images/logos/badge-icon-png-12521.png" alt=""></div>
            </div>
        </div>

        <!-- HOME GALLERY -->

        <div class="cursos_populares_wrapper">
            <div class="cursos_populares">
                <h2>Videos Populares</h2>

                <div class="home_gallery">
                    
                    <div class="content_gallery">

                        <div class="video_container">
                            <!-- <video src="url(https://youtu.be/WUYB-FnCRo8)" muted></video> -->
                            <div class="video_wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/WUYB-FnCRo8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ADqFFRuU-Ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CroBbYhWCLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WUYB-FnCRo8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
                        </div>
        
                    </div>
                </div>
            </div>

            <div class="home_button_wrapper">
                <div class="button">
                    <li class="user_link log"> <a href="#">Ver todos</a></li>
                </div>
            </div>
        </div>
        <!-- <div class="banner_wrapper">
            <h2>Banner</h2>
            <div class="banner_container">
                Video videos videos
            </div>
        </div> -->
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>
   
</body>

</html>