<footer>
    <div class="footer_container">
        <ul>
            <li> <a href="#">Help</a> </li>
            <li> <a href="#">Contact</a> </li>
            <li> <a href="#">Work with us</a> </li>
        </ul>

        <ul>
            <li> <a href="#">Links</a> </li>
            <li> <a href="#">Events</a> </li>
            <li> <a href="#">About us</a> </li>
        </ul>
    </div>
</footer>