<header class="header_index">
    <div class="index_header_wrapper">
        <!-- <h1> <a class="titulo_principal" href="/">Crowdium Academy</a> </h1> -->
        <div class="logo">  <a href="/"><img src="/images/logos/LogoCrowdiumAcademy.png" alt="logo"></a> </div>
        
        <div class="login">
            <ul class="user_links">
                <li class="user_link"> <a href="/#">Cursos</a> </li>
                <li class="user_link"> <a href="/#">Sobre nosotros</a> </li>
                <% if(locals.userLogged){%>

                    <li class="user_link">  <a href="#"> <i class="far fa-user"></i>  <%= userLogged.email %> </a> </li>
                    <li class="user_link log"> <a href="/logout">Cerrar sesión</a> </li>
                <%} else{%>
                    <li class="user_link log"> <a href="/login">Iniciar sesión</a></li>
                    <% } %>
            </ul>
        </div>
    </div>
</header>